# --- Node & Nuxt ---
node_modules/
.nuxt/
.output/
dist/
coverage/
.eslintcache

# --- Logs ---
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# --- Build-/Paketreste ---
*.tar.gz
*.tar

# --- Lokale Konfiguration ---
.env
.env.*
*.db
*.db_*

# --- System- & Editor-Dateien ---
.DS_Store
.idea/
.vscode/
__pycache__/

# --- Eigene Dev-Ordner ---
dev**/

# --- Temporäre Notizen ---
NOTES
