/* ============================================================
   BASE.CSS
   Grundlegende CSS-Variablen und Basisstile für die gesamte Seite.
============================================================ */

:root {
  /* Graustufen (ohne Schwarz & Weiß) */
  --grey-lightest: rgba(237, 237, 237, 1);
  --grey-lighter: #d1d1d1;
  --grey-medium: #555;
  --grey: rgba(74, 74, 74, 1);
  --grey-darker: #3a3a3a;
  --grey-darkest: #2c2c2c;
  --grey-ultra-dark: #1f1f1f;

  /* Schwarz & Weiß */
  --white: #ffffff;
  --black: rgba(40, 40, 40, 1);

  /* Orangetöne – markenrelevant */
  --orange-primary: rgba(231, 91, 45, 1); /* #fa4d0f */
  --orange-secondary: rgba(200, 70, 30, 1);

  /* Rottöne (für danger etc.) */
  --red: rgba(176, 36, 24, 1);
  --red-danger: #db4b4b;
  --red-danger-hover: #c73232;

  /* Layoutvariablen */
  --watermark-size: 40vw;
  --container-width: 600px;
  --login-container-width: calc(var(--container-width) / 2);
  --modal-width: calc(var(--container-width) * 1.1);
  --index-logo-width: calc(var(--container-width) * 0.40);

  /* Weitere Design Tokens */
  --font-base: 'Ubuntu', sans-serif;
  --spacing-small: 5px;
  --spacing-medium: 10px;
  --spacing-large: 20px;
  --border-radius: 5px;
  --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  /* Toast-Variablen */
  --toast-success-border: #4caf50;
  --toast-success-bg: #f0fff0;
  --toast-success-text: #4caf50;

  --toast-info-border: #2196f3;
  --toast-info-bg: #f0f8ff;
  --toast-info-text: #2196f3;

  --toast-warning-border: #ff9800;
  --toast-warning-bg: #fffaf0;
  --toast-warning-text: #ff9800;

  --toast-error-border: #f44336;
  --toast-error-bg: #fff0f0;
  --toast-error-text: #f44336;

  --toast-icon-size: 22px;
  --toast-font-size: 15px;
}
  
body {
  font-family: var(--font-base);
  background-color: var(--grey-lightest);
  color: var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  position: relative;
}

/* Hintergrund-Wasserzeichen */
body.login-page::before {
  content: "";
  position: absolute;
  width: var(--container-width);
  height: auto;
  aspect-ratio: 3 / 1;
  background-image: url('/static/img/watermark.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  opacity: 0.1;
  filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.2));
  pointer-events: none;
  z-index: 0;
}

.index-logo {
  max-width: var(--index-logo-width);
  display: block;
  margin: var(--spacing-small) auto var(--spacing-large) auto;
  /* filter: drop-shadow(1px 1px 2px var(--grey-lightest)); */
  /* opacity: 0.5; */
}
