/* ============================================================
   LAYOUT.Css
   Styles für Container und allgemeines Seitenlayout.
============================================================ */

/* Container-Definition: Umfasst zentrale Layout- und Box-Styles */
.container {
    display: flex;
    flex-direction: column;
    resize: both;
    height: fit-content;
    align-items: stretch;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: fit-content;
    min-width: var(--container-width);
    text-align: center;
  }
  